.msg-txt p span:hover{
	cursor: pointer;
}
.gz:hover{
	background-color: #2fb556;
}
.nav li a:hover{
	color: #2FB556;
}
.header .search:hover{
	background-position: -151px -24px;
}
.column-v a:hover,.footer-r a:hover{
	text-decoration: underline;
}
.contenr-l-list li:hover,.hot:hover,.video:hover{
	border: 1px solid #dedcdc;
}
.contenr-l-list  h3:hover{
	color: #39a030;
}
.contenr-l-list li:hover .kc-hover{
	display: block;
}
.page li:hover{
	color: #fff;
	background-color: #9dd8b1;
}
.page-down:hover,.page-up:hover{
	cursor: pointer;
}
#qxgz:hover{
	color: #21A557;
	text-decoration: underline;
}
.kc-hover{
	position: absolute;
	left: -10px;
	top: -10px;
	width: 475px;
	height: 244px;
	z-index: 2;
	box-sizing: border-box;
	border: 1px solid #d4d3d3;
	box-shadow: 2px 2px 2px #d4d3d3;
	display: none;
}
.kc-hover-top{
	height: 124px;
	background: #fff;
	color: #666;
	padding: 10px 20px 20px 10px;
}
.kc-hover-top img{
	float: left;
	width: 218px;
	margin-right: 20px;
	display: inline-block;
}
.kc-hover-top h3{
	font-size: 18px;
	color: #333;
}

.kc-hover-top dl{
	display: inline-block;
	float: left;
	margin-top: 3px;
}
.kc-hover-top dt{
	margin: 10px 0;
}
.kc-hover-top dd{
	margin: 0 0 5px 0;
}
.kc-hover-top dl dt p{
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position:-155px -55px ;
	text-indent: 15px;
}
.kc-hover-txt{
	padding: 20px 30px 20px 20px;
	height: 48px;
	background: #f8f8f8;
}
.kc-hover-txt{
	font-size: 14px;
	color: #666;
	line-height: 24px;
}
