/*1205px显示宽度*/

body {

	/*overflow: hidden;*/
}

.bodymax {
	width: 1206px;
	margin: 0 auto;
}


/*提示内容*/

.msg {
	width: 100%;
	background-color: #f3f3f3;
}

.msg .msg-txt {
	height: 36px;
	line-height: 36px;
}

.msg-txt p span {
	float: right;
}

.msg-txt p span i {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -120px 0px;
	margin-top: 9px;
	float: left;
}

.msg-txt p {
	margin: 0;
	color: #333;
}

.msg-txt a {
	display: inline;
	color: #21a557;
	font-size: 12px;
}


/*头部开始*/

.header {
	width: 1206px;
	margin: 0 auto;
}


/*logo*/

.header .logo {
	width: 250px;
	height: 88px;
	line-height: 88px;
	float: left;
}

.logo h1,
.footer-logo h1 {
	font-weight: inherit;
	font-size: 22px;
}

.logo h1 strong {
	line-height: 88px;
	color: #21a557;
	font-size: 28px;
	font-family: "gill sans mt";
	float: left;
	display: block;
}

.logo h1 span {
	line-height: 86px;
    display: block;
    margin: 0 5px;
    float: left;
}


/*关注-粉线*/

.header .concern {
	width: 250px;
	float: left;
	margin: 32px 0 0 10px;
}

.gz,
.fs {
	color: #666;
	float: left;
	width: 53px;
	line-height: 22px;
	text-align: center;
}

.gz {
	color: #fff;
	background-color: #21a557;
	border-radius: 2px;
	margin-right: 10px;
	cursor: pointer;
}

.gz i {
	padding-right: 5px;
}

.fs {
	/*display: none;*/
}

.fs span {
	margin-left: 5px;
}

.ygz {
	width: 106px;
	line-height: 21px;
	float: left;
	background-color: #f8f8f8;
	color: #333;
	text-indent: 10px;
	border-radius: 2px;
	box-sizing: border-box;
	border: 1px solid #efefef;
	margin-right: 10px;
	display: none;
}

.ygz span {
	width: 10px;
	height: 13px;
	display: inline-block;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -77px 0px;
	margin-right: 3px;
}

.ygz i {
	margin: 0 1px 0 5px;
	color: #ccc;
	font-size: 10px;
}

.ygz a {
	display: inline;
	text-align: center;
	color: #999;
}


/*导航*/

.header .nav {
	width: 448px;
	float: right;
	margin-top: 36px;
}

.nav li {
	float: left;
}

.nav li a {
	font-size: 16px;
	color: #666;
	margin-left: 58px;
}


/*搜索*/

.header .search {
	width: 22px;
	height: 24px;
	float: right;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -151px 0;
	margin: 34px 0 0 30px;
}

.search a {
	width: 22px;
	height: 24px;
}


/*banner*/

.banner {
	position: relative;
	overflow: hidden;
}

.banner-box {
	width: 1616px;
	overflow: hidden;
	margin:  0 auto;
	/*position: absolute;
	top: 0;
	left: 50%;
	margin-left: -826px;*/
}

.banner ul {
	width: 4848px;
	display: inline-block;
	position: relative;
}

.banner li {
	float: left;
	width: 1616px;
}
/*
#banner-bj1 {
	background-image: url(../img/banner1.jpg);
}

#banner-bj2 {
	background-image: url(../img/banner2.jpg);
}

#banner-bj3 {
	background-image: url(../img/banner3.jpg);
}*/

.banner li a {
	display: block;
	margin: 0 auto;
	height: 450px;
}

.banner img {
	width: 100%;
	border: none;
}

.banner-bar {
	width: 46px;
	height: 20px;
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -23px;
}

.banner-bar i {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 2px;
	display: inline-block;
}

.banner-bar .bbd {
	background-color: #333;
}


/*媒体查询*/
/*小于1205px*/
@media only screen and (max-width:1205px) {
	body {
		max-width: 1364px;
		  overflow-x: hidden;
	}
	.header,.bodymax{
		width: 962px;
	}
	.header .concern{
		width: 202px;
	}
	.banner-box{
		width: 1364px;
	}
	.banner ul {
		width: 4092px;
	}
	.banner ul li a{
		height: 376px;
	}
	body .main .contenr-l{
		width: 740px;
	}
	.footer .footer-r {
		margin: 0;
		float: right;
		width: 352px;
	}
	body .footer .aq{
			width: 65px;
	}
	body .main .content-r{
		width: 222px;
	}
	.banner .banner-box{
		margin:0 auto;
		position: initial;
	}
	.banner ul li{
		width: 1364px;
	}
	.scroll-img{
		max-width: 1364px;
		overflow: hidden;
	}
	body .scroll-img ul{
		position: relative;
		left: -215px;
	}
	.scroll-img li img {
		width: 234px;
	}
}
/*大于1205px*/
@media only screen and (min-width: 1205px) {
	body {
    overflow-x: hidden;
    margin: 0 auto;
	}
}


/*栏目介绍*/

.column {
	padding-bottom: 40px;
}

.column li {
	width: 33.3333%;
	float: left;
}

.column .icon {
	width: 34%;
	float: left;
}

.icon div {
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	width: 81px;
	height: 81px;
	background-color: #39A030;
	border-radius: 50%;
	float: right;
	margin: 60px 20px 0 0;
}

.icon-1 {
	background-position: 0px -90px;
}

.icon-2 {
	background-position: -81px -90px;
}

.icon-3 {
	background-position: -162px -90px;
}

.column-v {
	width: 51%;
	float: left;
	margin-top: 45px;
	color: #333;
}

.column-v h1 {
	margin: 0;
	font-size: 22px;
	color: #333;
	font-weight: inherit;
}

.column-v a {
	color: #39a030;
}

.column p {
	line-height: 24px;
	margin: 5px 0 30px 0;
}


/*图片滚动*/

.scroll-img {
	margin: 0 auto;
}

.scroll-img ul {
	width: 1616px;
	margin: 0 auto;
}

.scroll-img li {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 5px solid #fff;
    margin-left: -4px;
    height: 228px;
}

.scroll-img li img {
	max-width: 322px;
	width: 100%;
}


/*课程list*/

.main {
	background-color: #F8F8F8;
	padding-bottom: 120px;
}

.mainbody {
	padding-top: 82px;
}

.main h3 {
	font-size: 12px;
	color: #333;
	font-weight: inherit;
}


/*左边list*/

.main .contenr-l {
	width: 980px;
	float: left;
}


/*Tab切换标签*/

.contenr-l-tab {
	height: 58px;
	margin-bottom: 28px;
}

.contenr-l-tab div {
	width: 200px;
	height: 58px;
	line-height: 58px;
	text-align: center;
	float: left;
	box-shadow: 1px 1px 1px #ccc;
}

.contenr-l-tab h1 {
	color: #747474;
	font-size: 20px;
	font-weight: inherit;
	background-color: #fff;
}

.contenr-l-tab .checked {
	background-color: #39a030;
	color: #fff;
	box-shadow: none;
}

.contenr-l-list li {
	width: 222px;
	margin: 0 20px 20px 0;
	display: inline-block;
	/*overflow: hidden;*/
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #f1f1f1;
	border-top: 1px solid transparent;
	box-shadow: 0px 1px 5px #f1f1f1;
	position: relative;
}

.contenr-l-list .kc {
	position: relative;
	z-index: 1;
}

.contenr-l-list .l-img {
	height: 124px;
	box-sizing: border-box;
	border: 1px solid #fff;
}

.l-img img {
	width: 218px;
    height: 123px;
}

.l-txt {
	padding: 0 6px 6px;
}

.l-txt h3 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 6px 0;
}

.l-txt h4 {
	font-size: 12px;
	color: #999;
	font-weight: inherit;
	margin-bottom: 8px;
}

.l-txt .span-1,
.hot li span {
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
}

.l-txt .span-1 {
	display: inline-block;
	height: 18px;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 12px;
	color: #ddd;
	background-position: -152px -55px;
	text-indent: 15px;
	padding-right: 4px;
}

.l-txt .span-2 {
	display: block;
	color: #ff3f00;
	margin-top: 10px;
}

.l-txt span i {
	font-style: inherit;
	margin-left: 1px;
}


/*翻页*/

.page {
	width: 282px;
	height: 20px;
	line-height: 20px;
	float: right;
	margin: 0 22px 0 0;
	text-align: center;
}

.page div {
	height: 20px;
	width: 29px;
	color: #fff;
	background-color: #9dd8b1;
}

.page div,
.page li {
	display: inline-block;
	float: left;
	cursor: pointer;
}

.page li {
	width: 20px;
	height: 20px;
	color: #666;
	margin: 0 4px;
}

.page .page-d {
	color: #39A030;
}


/*右边list*/

.main .content-r {
	width: 225px;
	float: right;
}

.content-r-title {
	height: 55px;
	text-indent: 20px;
	border-bottom: 1px solid #ddd;
}

.content-r-title h2 {
	color: #333;
	font-size: 16px;
	font-weight: inherit;
	line-height: 55px;
}


/*视频*/

.content-r .video {
	height: 230px;
	margin-bottom: 20px;
}

.video .video-box {
	padding: 20px;
	position: relative;
}

.video-box p {
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}

.video-box img {
	/*width: 200px;*/
}

#video-Play {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -25px;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -63px -22px;
	cursor: pointer;
}

.content-r .video,
.hot {
	background-color: #fff;
	border: 1px solid #ecebeb;
	border-top: 1px solid transparent;
	box-shadow: 0px 1px 0px #ecebeb;
}


/*热门*/

.hot {
	padding-bottom: 0;
}

.hot ul {
	padding: 20px 20px 0 20px;
}

.hot li {
	height: 50px;
	margin-bottom: 20px;
}

.hot li img {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 12px;
	overflow: hidden;
}

.hot h3 {
	font-size: 14px;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 3px;
}

.hot li span {
	display: inline-block;
	line-height: 18px;
	background-position: -155px -55px;
	text-indent: 15px;
}


/*底部*/

.footer {
	background-color: #2c3339;
}

.footer-mian {
	margin: 0 auto;
	padding: 76px 0 86px 0;
}

.footer-l {
	float: left;
	width: 440px;
	margin: 10px 0 0 52px;
}

.footer-l h1 {
	color: #21a557;
}

.footer-l h1 span {
	height: 24px;
    line-height: 32px;
}

.footer-l p {
	color: #bebfc0;
	line-height: 26px;
}

.footer-r {
	float: left;
	width: 400px;
	margin-left: 160px;
}
.footer-l .footer-logo h1 strong{
	height: 32px;
    line-height: 35px;
}
.footer-r div {
	float: left;
	width: 120px;
	color: #bebfc0;
}

.footer-r p {
	line-height: 30px;
	font-size: 15.5px;
}

.footer-r .footer-r-txt {
	font-size: 14px;
}

.footer-r .friendlink {
	/*margin-left: 30px;*/
}

.footer-r .guild {
	width: 62px;
	margin-left: 50px;
}

.weibo {
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -119px -52px;
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: sub;
	margin-left: 8px;
}

.footer-r .aq {
	width: 100px;
	margin-left: 55px;
}