.pop-box {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 999;
}

.login-win,
.video-win {
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
}

.login-win {
	width: 296px;
	height: 208px;
	margin: -144px 0 0 -195px;
	background-color: #fff;
	padding: 40px 53px 40px 40px;
}

.login-win h1 {
	color: #444;
	font-size: 18px;
	/*margin-bottom: 12px;*/
	font-weight: inherit;
}

.login-win form div {
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	width: 293px;
	height: 45px;
	background-color: #fafafa;
	margin-bottom: 15px;
	border: inset 1px solid #f1f1f1;
	border
}

.login-win label {
	display: inline-block;
	width: 42px;
	text-indent: 10px;
	color: #ccc;
	font-size: 16px;
	border: none;
	text-align: center;
	vertical-align: middle;
	/*border-left: 2px solid #f1f1f1;*/
}

.login-win input {
	line-height: 41px;
	width: 230px;
	border: none;
	font-size: 14px;
	color: #666;
	text-indent: 4px;
	outline: 0;
	background-color: #fafafa;
}

.login-win .submit {
	border: none;
	background-color: #fff;
	box-shadow: 2px 2px 2px #d5e3da;
}

.login-win .password {
	margin-bottom: 25px;
}

.login-win #submit {
	width: 293px;
	height: 45px;
	color: #fff;
	font-size: 16px;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -3px -180px;
}

.off-win {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 20px;
	height: 20px;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -117px -20px;
	cursor: pointer;
}

.video-win {
	padding: 20px 20px 30px 20px;
	margin: -330px 0 0 -454px;
	background-color: #fff;
}

.video-win h1 {
	color: #444;
	font-size: 18px;
	font-weight: inherit;
	margin-bottom: 15px;
}

#videoPlay {
	width: 887px;
}