/*盒子基础设置*/
#box {perspective:750px;width:200px;height:200px;position:fixed;top:50%;left:50%;margin:-100px 0 0 -100px;box-sizing:border-box;}
.demo-1 {width:100%;height:100%;transform-style:preserve-3d;animation:box3d 3.5s linear 11.5s infinite both normal;}
/*给盒子每个面做统一的样式定义*/
.demo-1 div {border:1px solid #545454;width:200px;height:200px;font-size:80px;text-align:center;position:absolute;left:0;top:0;line-height:200px;animation-iteration-count:1;transition-duration:3s;transition-property:all;}
/*每个面定义animation动画*/
.box-1 {animation:box-1 1.5s infinite both;}
.box-2 {animation:box-2 1.5s ease 2s infinite both;}
.box-3 {animation:box-3 1.5s ease 4s infinite both;}
.box-4 {animation:box-4 1.5s ease 6s infinite both;}
.box-5 {animation:box-5 1.5s ease 8s infinite both;}
.box-6 {-webkit-animation:box-6 1.5s ease 10s infinite both;animation:box-6 1.5s ease 10s infinite both;}
/*hover每个页面背景颜色动画*/
#box:hover div {transition-duration:3s;transition-property:all;opacity:0.7;box-sizing:border-box;}
/*单独面背景颜色*/
.demo-1:hover .box-1 {background:red;}
.demo-1:hover .box-2 {background:aquamarine;}
.demo-1:hover .box-3 {background:brown;}
.demo-1:hover .box-4 {background:lightgreen;}
.demo-1:hover .box-5 {background:blueviolet;}
.demo-1:hover .box-6 {background:blue;}
/*每个面的动画*/
@keyframes box-1 {100% {transform:rotate3d(1,0,0,90deg) translate3d(0,0,100px);}
}
@keyframes box-2 {100% {transform:rotate3d(1,0,0,-90deg) translate3d(0,0,100px);}
}
@keyframes box-3 {100% {transform:rotate3d(0,1,0,-90deg) translate3d(0,0,100px);}
}
@keyframes box-4 {100% {transform:rotate3d(0,1,0,90deg) translate3d(0,0,100px);}
}
@keyframes box-5 {100% {transform:rotate3d(0,1,0,180deg) translate3d(0,0,100px);}
}
@keyframes box-6 {100% {transform:translate3d(0,0,100px);}
}
/*3D旋转动画*/
@keyframes box3d {100% {transform:rotate3d(200,200,-200,360deg);}
}
